
.post {
    margin: 10px auto 5px;
    width: 85%;
    max-width: 80vw;
}
.title{
    font-weight: bold;
    margin-bottom: 0;
}
.timestamp{
    font-size: 0.7em;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(grey, 0.25), rgba(0, 0, 0, 0));
}
.buttonlist{
    padding-left:0;
    display:flex;
    list-style-type: none;
    justify-content: space-evenly;
    li{
        margin-left:3px;
        color:var(--primary);
    }
}
.liked{
    color:green;
}
#title-with-button{
    display:flex;
    margin:0 auto;
    justify-content: space-between;
    p{
        margin-top:10px;
    }
    
}
#postContent{
    max-height: 30vh;
    width:100%;
    textarea{
        transition: height 2s;
    }
}
@media only screen and (max-width: 1200px) {
    textarea{
        height:100px;
    }
}
@media only screen and (max-width: 600px) {
    textarea{
        height:25px;
        
    }
    textarea:focus{
        height:200px;
    }
}