<nav>

  <ul>
    <li (click)="logoClick()" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Social media</li>
    <li *ngIf=(!loginDetails.isLogged)>
      <button mat-button routerLink="/sign-on" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Register</button>
    </li>
    <li *ngIf=(!loginDetails.isLogged)>
      <button mat-button routerLink="/sign-in" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Log in</button>
    </li>
    <li *ngIf=(loginDetails.isLogged)>
      <button mat-button [matMenuTriggerFor]="menu">
        {{user.firstName}}</button>
      <mat-menu #menu="matMenu">
        <button *ngIf="(user.roleID==6)" routerLink="/company/profile" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" mat-menu-item>My Company</button>
        <button mat-menu-item (click)="logOut()">Logout</button>
      </mat-menu>

    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>