<div class="card">
  <mat-card id="sign-on">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput id="firstName" type="text" required formControlName="firstname">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput id="lastName" type="text" required formControlName="lastname">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput id="email" type="email" required formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput id="password" type="password" required formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </form>

  </mat-card>
</div>